.mr-0 > img{
    width: 100%;
}
.mr-1 > img{
    width: 100%;
}
.mr-2 > img{
    width: 100%;
}
.mr-3 > img{
    width: 100%;
}
.mr-4 > img{
    width: 100%;
}
.mr-5 > img{
    width: 100%;
}
/*Fonte do titulo*/
@import url("https://fonts.googleapis.com/css?family=Crushed");
.toptitle{
   text-align: center;
   font-family: 'Crushed';
   font-size: 1.5vw;
   color: #FFF;
 }
.toltip > h1{
font-family: 'Crushed';
font-size: 20px;
}
.esp3 {
    margin-right: 3px;
}
div.red{
    float: left;
    color: #ea1000;
    width:30%;
}
.esp4em{
    padding-top: 0.98em!important;
}
.table-expand{
    width: 90%!important;
}
