.mr-0 > img{
    width: 100%;
}
.mr-1 > img{
    width: 100%;
}
.mr-2 > img{
    width: 100%;
}
.mr-3 > img{
    width: 100%;
}
.mr-4 > img{
    width: 100%;
}
.mr-5 > img{
    width: 100%;
}
/*Fonte do titulo*/
@import url("https://fonts.googleapis.com/css?family=Crushed");
.toptitle{
   text-align: center;
   font-family: 'Crushed';
   font-size: 1.5vw;
   color: #FFF;
 }
.toltip > h1{
font-family: 'Crushed';
font-size: 20px;
}
.esp3 {
    margin-right: 3px;
}

.select-append{
    width: 100%;
    padding: 14px 5px 14px 5px;
    border: 1px solid #818182;
    border-radius: 4px;
}

.panel{
    border-radius: 4px;
    border: 1px solid #c8cbcf;
}

.panel-default{
    /*border: 1px solid #818182;*/
    background-color: #b1b7ba;

}
.panel-heading{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 3px 10px 10px;
}
.panel-info{
    /*border: 1px solid #818182;*/
    background-color: #17a2b8;
    color: white;
}
.panel-body{
    padding: 20px 20px 20px 20px;

}